.header {
    height: 100px;
    width: 80%;
    position: relative;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

.header-bottom {
    background-color: #333;
    height: 20px;
    position: absolute;
    width: 100%;
    text-align: center;
}

.header-middle {
    position: absolute;
    padding-bottom: 40px;
    margin-bottom: 0px;
    bottom: 0;
    width: 100%;
    height: 20px;
    z-index: 5;
}

.header-middle .menu-item {
    left: auto:;
    bottom: auto;
    float: none;
    margin: 0 auto;
}

.header-top {
    height: 80px;
    position: absolute;
    border-style: solid;
    bottom: 20px;
    margin-right: 0px;
    width: 80%;
}

.menu {
    height: 80px;
}

.menu-item {
    -moz-transform: scale(.9999);
    float: right;
    margin-right: 3px;
    right: 0;
    position: relative;
    width : 80px;
    z-index: 3;
}

.menu-item i{
    font-size: 35px !important;
    color: black;
    cursor: default;
}

.menu-item-bottom {
    width: 0;
    border-top: 20px solid white;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    position: relative;
}

.menu-item-middle {
    height: 40px;
    width: 80px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    background-color: white;
}

.menu-item-middle img {
    vertical-align: middle;
}

.menu-item-top {
    width: 0;
    border-bottom: 20px solid white;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
}

@media screen and (max-width: 1200px){
    .content {
        width: 90%;
    }

    .header {
        width: auto;
        margin-top: 0px;
    }

    .header-bottom {
        width: 100%;
    }

    .header-middle .menu-item {
        float: left;
    }
}

@media screen and (max-width: 500px){
    .header-bottom {
        height: 20px;
        margin-bottom: 15px;
    }

    .header-middle {
        height: 20px;
    }

    .header-top {
        height: 60px;
    }

    .menu {
        height: 60px;
    }

    .menu-item {
        width: 60px;
    }

    .menu-item i{
        font-size: 20px !important;
    }

    .menu-item-bottom {
        border-top: 15px solid white;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
    }

    .menu-item-middle {
        height: 30px;
        width: 60px;
    }

    .menu-item-middle img {
        width: 50%;
        vertical-align: middle;
    }

    .menu-item-top {
        border-bottom: 15px solid white;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
    }
}