a {
    color: #0B617F;
}

body {
    background-color: black;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}

h1, h2 {
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 32px;
    padding-bottom: 25px;
    padding-top: 25px;  
    text-align: center;
    width: 100%; 
}

ul {
    color: gray;
}

#Blog .menu-item-top {
    border-bottom-color: #5E5E0C;
}

#Blog .menu-item-middle {
    background-color: #5E5E0C;
}

#Blog .menu-item-middle {
    background-color: #5E5E0C;
}

#Blog .menu-item-bottom {
    border-top-color: #5E5E0C;
}

#Contact .menu-item-top {
    border-bottom-color: #6B1912;
}

#Contact .menu-item-middle {
    background-color: #6B1912;
}

#Contact .menu-item-bottom {
    border-top-color: #6B1912;
}

#Home .menu-item-top {
    border-bottom-color: #064C16;
}

#Home .menu-item-middle {
    background-color: #064C16;
}

#Home .menu-item-bottom {
    border-top-color: #064C16;
}

#Project-PEN {
    max-width: 700px;
}

#Project-SanusAnalytics {
    max-width: 900px;
}

#Resume .menu-item-top {
    border-bottom-color: #843500;
}

#Resume .menu-item-middle {
    background-color: #843500;
}

#Resume .menu-item-bottom {
    border-top-color: #843500;
}

#Toolbox .menu-item-top {
    border-bottom-color: #0B617F;
}

#Toolbox .menu-item-middle {
    background-color: #0B617F;
}

#Toolbox .menu-item-bottom {
    border-top-color: #0B617F;
}

.content {
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    width: 80%;
}

.contact {
    float: left;
    width: 33.33333%;
    text-align: center;
}

.contact img {
    width: 100px;
    height: 100px;
}

.introduction {
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 650px;
}

.introduction img {
    float: left;
    margin: 10px;
    margin-bottom: 0px;
    max-width: 250px;
}

.introduction p {
    height: 100%;
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
    margin-top: 0px;
}

.project {
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

.project p {
    margin-top: 0px;
    float: left;
}

.project img {
    float: left;
    padding-right: 15px;
}

.skills {
    float: left;
    width: 33.33333%;
    text-align: center;
}

.skills ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

.temp-div {
    display: none;
}

@media screen and (max-width: 800px){
    .contact p {
        display: none;
    }

    .contact img {
        width: 50%;
        height: 50%;
    }

    .introduction img {
        float: none;
        margin: 0 auto;
        display: block;
        width: 50%;
        max-width: 250px;
        padding-bottom: 20px;
    }

    .introduction p {
        font-size: 18px;
    }

    .project img {
        width: 100%;
        padding-right: 0px;
        padding-bottom: 40px;
    }

    .skill-info img {
        width: 40px;
    }

    .skill-info p {
        font-size: 16px;
    }

}
