a {
    color: #0B617F;
}

body {
    background-color: black;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}

h1, h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 32px;
    color: white;
    float: none;
    display: block;
    text-align: center;
    width: 100%;
    padding-bottom: 25px;
    padding-top: 25px;   
}

ul {
    color: gray;
}

#Content {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
}

.about-section {
    width: 100%;
    overflow: auto;
}

/*.about-section p {
    width: 80%;
}*/

.about-section ul {
    float: top;
    padding-left: 50px;
}

.blog-entry {
    padding-bottom: 20px;
}

.blog-entry h {
    padding-bottom: 20px;
    font-family: 'Amatic SC', cursive;
}

.introduction {
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 650px;
}

.introduction img {
    float: left;
    max-width: 250px;
    margin: 10px;
    margin-bottom: 0px;
}

.introduction p {
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
    margin-top: 10px;
    height: 100%;
}

.contact {
    float: left;
    display: block;
    width: 33.33333%;
}

.contact p {
    color: white;
    display: block;
    text-align: center;
    margin-bottom: 0;
}

.contact img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
}

.project {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

#Project-PEN {
    max-width: 615px;
}

#Project-SanusAnalytics {
    max-width: 820px;
}

.project p {
    margin-top: 0px;
    float: left;
}

.project img {
    float: left;
    padding-right: 15px;
}

.separator {
    width: 100%;
    height: 20px;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.separator.colored {
    background-color: #333; 
}

.skills {
    float: left;
    width: 33.33333%;
    text-align: center;
}

.skills ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

.temp-div {
    display: none;
}

.text-container {
    float: left;
    width: 100%;
}

.text-container.center p{
    float: none;
    text-align: center;
}

.text-container h2 {
    font-family: 'Amatic SC', cursive;
    color: white;
    float: none;
    display: block;
    text-align: center;
    width: 100%;
    padding-bottom: 10px;
}

.text-container p {
    margin-top: 0px;
    float: left;
}

.text-container img {
    float: left;
    margin: 10px;
}

@media screen and (max-width: 600px){
    .contact p {
        display: none;
    }

    .about-section{
        padding-left: 0px;
        padding-right: 0px;
    }

    .introduction img {
        float: none;
        margin: 0 auto;
        display: block;
        width: 50%;
        max-width: 250px;
        padding-bottom: 20px;
    }

    .introduction p {
        font-size: 18px;
    }

    .project img {
        width: 100%;
        padding-bottom: 40px;
    }

    .skill-info img {
        width: 40px;
    }

    .skill-info p {
        font-size: 16px;
    }

}
