<h>Eric Bauerfeld</h>
<div class="introduction">
    <img src="/img/ericBauerfeld.jpg"></img>
    <p>
        Howdy! I'm a software engineering student who enjoys hiking, weird beep boop music, and CODING! I'm currently enrolled in the A100 program in Stamford. I'm always looking for new, interesting projects. If you're looking for a front-end web guy, hit me up!
    </p>
</div>
<div class="about-section">
    <h>Skills</h>
    <div class="skill">
        <p>Langauges</p>
        <ul>
            <li>Javascript/Node.js</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>PHP</li>
            <li>Python</li>
            <li>Java</li>
            <li>SQL</li>
            <li>Bash</li>
        </ul>
    </div>
    <div class="skill">
        <p>Environments</p>
        <ul>
            <li>OS X</li>
            <li>Arch Linux</li>
            <li>Amazon Linux AMI/AWS</li>
        </ul>
    </div>
    <div class="skill">
        <p>Tools/Packages</p>
        <ul>
            <li>JQuery</li>
            <li>Mongodb</li>
            <li>Express</li>
            <li>XAMPP</li>
            <li>mySQL</li>
        </ul>
    </div>
</div>
<div class="about-section">
    <h>WORK EXPERIENCE</h>
    <p>Parent Exchange Network (Winter 2015)</p>
    <ul>
        <li>Created website for a new parenting organization</li>
        <li>More info <a href="/projects">here</a></li>
    </ul>
    <p>Startup Prep (Summer 2014)</p>
    <ul>
        <li>Created a node bot to collect tweets from major US cities</li>
        <li>Created web interface for exporting data from mongodb </li>
        <li>More info <a href="/projects">here</a></li>
    </ul>
    <p>Computer SuperCenter of Greenwich (Summer 2013)</p>
    <ul>
        <li>Performed hardware repairs/diagnostics</li>
        <li>Performed software updates/installs</li>
    </ul>
    <p>Internship at Assured Guaranty (Summer 2011)</p>
    <ul>
        <li>Scrubbed credit data in company databases</li>
        <li>Used Visual Basic to write search algorithms to find non-exact company name matches</li>
    </ul>
</div>
<div class="about-section">
    <h>EDUCATION</h>
    <p>Norwalk Community College, Norwalk (2013-2015)</p>
    <ul>
        <li>Secretary of the Computer Science Club</li>
        <li>Completed networking track</li>
    </ul>
    <p>Trinity College, Hartford (2010-2013)</p>
    <ul>
        <li>2 years of computer science/engineering</li>
        <li>Wrote navigation software for the robotics club</li>
    </ul>
</div>